useDynLib("dbmss", .registration = TRUE)

import("spatstat")
import("Rcpp")
importFrom("ggplot2", "autoplot")
importFrom("RcppParallel", "RcppParallelLibs")

export("as.Dtable")
export("as.wmppp")
export("DEnvelope")              
export("Dhat")
export("Dtable")
export("envelope.Dtable")       
export("FillEnvelope")
export("gEnvelope")               
export("ghat")
export("GlobalEnvelope")           
export("GoFtest")
export("is.wmppp")           
export("KdEnvelope")
export("Kdhat")
export("KEnvelope")
export("Khat")
export("KinhomEnvelope")
export("Kinhomhat")
export("KmmEnvelope")
export("Kmmhat")
export("Ktest")
export("LEnvelope")
export("Lhat")
export("LmmEnvelope")
export("Lmmhat")
export("mEnvelope")
export("MEnvelope")
export("mhat")
export("Mhat")
export("rPopulationIndependenceK")
export("rPopulationIndependenceM")
export("rRandomLabeling")
export("rRandomLabelingM")
export("rRandomLocation")
export("rRandomPositionK")
export("wmppp")

S3method("as.Dtable", "data.frame")
S3method("as.Dtable", "ppp")
S3method("as.wmppp", "data.frame")
S3method("as.wmppp", "ppp")
S3method("autoplot", "envelope")
S3method("envelope", "Dtable")
S3method("print", "dbmssEnvelope")
S3method("sharpen", "wmppp")
S3method("split", "wmppp")
S3method("summary", "dbmssEnvelope")
S3method("superimpose", "wmppp")
S3method("unique", "wmppp")
S3method("[", "wmppp")
