useDynLib(dbmss)
import(spatstat)
import(cubature)
import(Rcpp)
importFrom("RcppParallel", "RcppParallelLibs")
importFrom("stats", "approx", "bw.SJ", "bw.nrd0", "density", "integrate", "median", "pchisq", "quantile")
exportPattern("^[[:alpha:]]+")
S3method(as.Dtable, data.frame)
S3method(as.Dtable, ppp)
S3method(as.wmppp, data.frame)
S3method(as.wmppp, ppp)
S3method(envelope, Dtable)
S3method(print, dbmssEnvelope)
S3method(sharpen, wmppp)
S3method(split, wmppp)
S3method(summary, dbmssEnvelope)
S3method(superimpose, wmppp)
S3method(unique, wmppp)
